body {
    background-color: #f4f4f4
    font-family: 'Arial', sans-serif; margin: 0; padding: 0; 
}

header, footer { 
    background: #004d40; 
    color: white;
    text-align: center;
    padding: 20px;
}

 nav { background: #00796b;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a { color: white;
       text-decoration:none;
       padding: 10px 15px;
      }
nav a:hover {
        background: #004d40;
        border-radius: 5px;
}

.content-wrapper {
        display: flex;
        margin: 20px;
}

.main-content {
        flex: 2;
        padding-right:20px;
}

top-right-blurb {
            background: rgba(0, 0, 0, 0.6);
            color: white;
            padding: 15px;
            border-radius: 10px;
            width: 250px;
            margin-top: 20px;
}

#state-info {
            text-align: center;
            padding: 40px;
}

footer ul {
        list-style: none;
        padding: 0;
}

footer ul li {
    display:inline;
    margin: 0 10px;
}

